<div class="row">
    <div class="col-12">

        Postovani/a {{ user.first_name }} {{ user.last_name }},
        <br><br>
        Pozvani ste da se prikljucite izradi projekta {{ project.project_name }}.
        Autor projekta {{ project.project_author }} izrazio je zelju da saradjuje sa Vama.
        <br><br>

        <a href="{{ base_url }}/invitationAccept/{{ invitation }}" class="btn btn-primary">Prihvatam</a><br>
        <br><br>
        Srdacan pozdrav,
        Project collaboration team

    </div>
</div>