{% extends "_global/index.html" %}

{% block header %}{% include 'main/header.html.twig' %}{% endblock %}

{% block main %}

        <h1 class="display-5">{{ project.project_name }} </h1>

        <div class="row margin-small">
            <div class="col-12">
                <p>Ukupan napredak na projektu: {{ progressSum }} %</p>
                <div class="progress progress-extended" >
                    <div class="progress-bar " role="progressbar" style="width: {{ progressSum }}%" aria-valuenow="{{ progressSum }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p><a class="btn btn-primary" href="{{ base_url }}/new/job/{{ project.project_id }}" role="button">Dodaj novi posao</a></p>
            </div>
            {% if project.user_id == user.user_id %}
                <div class="col-2">
                    <button type="button" class="btn btn-primary js-invite-user-form" data-url="{{ base_url }}/inviteUserForm/{{ project.project_id }}">Dodaj učesnike</button>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class="col-12 hidden" id="invite_user_form"></div>
        </div>

    {% if jobs is not empty %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Naziv posla</th>
                        <th>Opis</th>
                        <th>Rok</th>
                        <th>Progres</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.job_id }} </td>
                            <td>
                                <a href="{{ base_url }}/job/{{ job.job_id }}">{{ job.name }}</a>
                            </td>
                            <td>{{ job.description }}</td>
                            <td>{{ job.deadline | date('d.m.Y')}}</td>
                            <td>{{ job.progress }}%</td>
                            <td>
                                <a href="{{ base_url }}/job/{{ job.job_id }}" class="btn btn-primary">Detaljnije</a>
                            </td>
                            <td><a href="{{ base_url }}/jobApply/{{ job.job_id }}" class="btn btn-success">Prijavi se</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Niste uneli nijedan posao.
    {% endif %}

{% endblock %}